---
layout: default
---

<!-- ==== HEADERWRAP ==== -->
<div id="headerwrap" itemscope itemtype="http://schema.org/Person">
    <header class="clearfix" id="home">
        <h1>
            <span itemprop="honorificPrefix">{{site.title}} </span>
            <span itemprop="givenName">{{site.name}} </span>
            <span itemprop="familyName">{{site.surname}}, </span>
            <span itemprop="award">{{site.qualification}}</span>
        </h1>
        <h2 class="animated wow zoomIn" itemprop="jobTitle">{{site.jobtitle}}</h2>
        <p style="font-size:30px;margin:0"><span class="ion-ios-home-outline"></p>
        <p>
            <a href="{{site.map}}" itemprop="workLocation">{{site.address}}</a><br>
        </p>
        <p>
            <strong>To make an appointment please contact:</strong><br>
            <span>Dr. Nur's PA, Ms Martha Alleje</span><br>
            <a href="mailto:{{ site.email }}" itemprop="email">{{ site.email }}</a><br>
            <span itemprop="telephone">{{site.tel}}</span>
        </p>
    </header>
</div><!-- /headerwrap -->

<!-- ==== ABOUT ==== -->
<div class="container" id="about">
    <div class="row white">
        <h1 class="centered">ABOUT DR NUR</h1>
        <hr><br>
        <div class="col-lg-6">
            {% include about.html %}
        </div>
        <div class="col-lg-6">
            {% include about2.html %}
        </div>
    </div><!-- row -->
</div><!-- ABOUT container -->

<!-- ==== SECTION DIVIDER1 -->
<section class="section-divider textdivider textdivider-light divider1" id="experience">
    <div class="container">
        <div class="experience animated wow flipInX">
            <h1>{{ 'now' | date: "%Y" | minus:1995 }}</h1>
            <p>years<br>in medicine</p>
        </div>
        <hr>
        {% include experience.html %}
    </div><!-- container -->
</section><!-- section -->

<div class="container" id="appointments">
    <div class="row white">
        <h1 class="centered">Appointments</h2>
        <hr><br>
        {% include appointments.html %}
    </div>
</div>

<!-- ==== Forms ==== -->
<div class="container" id="forms">
    <div class="row white">
        <h1 class="centered">Registration Forms</h2>
        <hr><br>
        <div class="col-lg-offset-2 col-lg-8">
          {% include forms.html %}
        </div>
    </div>
</div>
<!-- Forms container -->

<!-- ==== SECTION DIVIDER2 -->
<section class="section-divider textdivider divider2">
    <div class="container diet">
        <h1>Optimise your nutrition for vibrant health</h1>
        <hr>
    </div>
</section>
<!-- ==== Nutrition ==== -->
<div class="container" id="nutrition">
    <div class="row white">
        <h1 class="centered">Nutrition</h2>
        <hr><br>
        <div class="col-lg-offset-2 col-lg-8">
            {% include nutrition.html %}
        </div>
    </div>
</div><!-- Nutrition container -->





<!-- ==== SECTION DIVIDER6 ==== -->
<section class="section-divider textdivider divider6">
    <div class="container animated wow zoomInUp">
        <h1>PRACTICE IN LONDON, UK</h1>
        <hr>
        <p>{{site.address}}</p>
        <p>{{site.tel}}</p>
        <p><a class="icon ion-ios-email" href="mailto:{{ site.email }}"></a> | <a class="icon ion-social-facebook" href="{{ site.facebook }}"></a></p>
    </div>
</section><!-- section -->

<div class="container" id="contact">
    <div class="row" style="background-color:#f5f5f5;">
        <h1 class="centered">THANKS FOR VISITING</h1>
        <hr>
        <div class="col-lg-offset-2 col-lg-4 contact-info" >
            <h3>Contact Information</h3>
            <br>
            <p><span class="contact-icon ion-ios-home"></span><a href="{{site.map}}"> {{site.address}}</a></p>
            <p><span class="contact-icon ion-ios-telephone"></span> {{site.tel}}</p>
            <p><span class="contact-icon ion-ios-email"></span> <a href="mailto:{{ site.email }}"> {{ site.email }}</a></p>
        </div><!-- col -->

        <div class="col-lg-4">
            <h3>Contact Me</h3>
            <p>
                <form id="contact-form" role="form" action="{{ site.contactaction }}" method="POST">
                    <div class="form-group">
                        <label for="message">Your Message</label>
                        <textarea class="form-control" id="message" name="message" required placeholder="Please type your message" style="min-height:72px;"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="replyto">Your Email</label>
                        <input type="email" class="form-control" id="replyto" required name="replyto" placeholder="Email address">
                    </div>
                    <div class="form-group">
                        <label for="fullname" class="control-label">Your Name</label>
                        <input type="text" class="form-control" id="fullname" required name="fullname" placeholder="Your Name">
                    </div>
                    <div class="form-group">
                        <button id="btn-submit" type="submit" class="btn btn-success">Send</button>
                    </div>
                    <input class="form-control" id="signtime" name="signtime" type="hidden">
                    <input class="form-control" id="signclick" name="signclick" type="hidden">
                </form><!-- form -->
            </p>
        </div><!-- col -->
    </div><!-- row -->
</div><!-- container -->
