<div class="row centered">
  <div class="col-lg-6">
    <h2>New Patient Consultation</h2>
    <p>A 60-minute consultation covering a comprehensive assessment of your past medical history, nutritional evaluation, examination and discussing the investigation plan</p>
    <p><sup>*</sup>For patients transferring from other practitioners with a long, complex medical history, please let us know your individual circumstances. We will tailor a consultation with your needs.</p>
    <h3>£650</h3>
  </div>
  <div class="col-lg-6">
    <h2>Follow up Consultation</h2>
    <p>An in-person, or online consultation during which you can discuss new or ongoing health concerns, your investigation results and management plan</p>
    <p>Remote consultations (e.g., Video or telephone) are only available if you are an existing patient.</p>
    <h3>£350 <small>(30 minutes)</small></h3>
    <h3>£450 <small>(60 minutes)</small></h3>
  </div>
</div>
<br>
<div class="row centered">
  <div class="col-lg-12"></div>
    <h4>To make an appointment please contact</h4>
    <p>Dr. Nur's PA, Ms Martha Alleje</p>
    <a href="mailto:{{ site.email }}" itemprop="email" class="btn btn-primary" role="button">Book Now</a>
    <br><br><p>OR</p>
    <div class="circle-icon"><span class="contact-icon ion-ios-telephone"></span></div>
    <h4 style="font-weight: bolder;">CALL</h4>
    <h3 itemprop="telephone"> {{site.tel}}</h3>
  </div>
</div>
