<p>You can download new patient registration forms and questionnaires by clicking the buttons below.</p>
<div class="row">
  <div class="col-md-offset-2 col-md-4 centered">
    <a class="btn btn-default" role="button" href="/assets/forms/ChildrenPatientRegistrationForm.docx" download="ChildrenPatientRegistrationForm.docx">Children Patients</a>
  </div>
  <div class="col-md-4 centered">
    <a class="btn btn-default" role="button" href="/assets/forms/AdultPatientRegistrationForm.docx" download="AdultPatientRegistrationForm.docx">Adult Patients</a>
  </div>
</div>
