<!-- ==== PATIENT TESTIMONIES ==== -->
<div class="container" id="testimonies" name="testimonies">
    <br>
    <div class="row white centered">
        <h1 class="centered">TESTIMONIES OF MY PATIENTS</h1>
        <hr>
        <br>
        <br>
        <div class="col-lg-3 centered animated wow fadeInUp">
            <img class="img img-circle" src="assets/img/patient/patient01.jpg" height="120px" width="120px" alt="">
            <br>
            <h4><b>Hayati Abi</b></h4>
            <p><img src="assets/img/quotes.png" alt="" class="quotes">Nulla sagittis diam at arcu ornare, vel varius erat pulvinar. Phasellus ac ipsum orci. Duis tortor turpis, varius id odio non, facilisis porta felis. Donec aliquam a turpis eu rhoncus. Vivamus eleifend, nisi ac rhoncus aliquet, lorem mi ultricies tortor, posuere commodo diam magna id lectus.</p>
        </div><!-- col-lg-3 -->
        
        <div class="col-lg-3 centered animated wow fadeInUp" data-wow-delay=".2s">
            <img class="img img-circle" src="assets/img/patient/patient02.jpg" height="120px" width="120px" alt="">
            <br>
            <h4><b>Mehmet Amca</b></h4>
            <p>Morbi placerat tincidunt ante, eget viverra orci ornare a. Phasellus lobortis efficitur tortor, eget tempus leo pellentesque non. Sed et nulla condimentum, vulputate purus id, consequat tellus. Morbi faucibus finibus iaculis. Morbi imperdiet nec erat at imperdiet.</p>
        </div><!-- col-lg-3 -->
        
        <div class="col-lg-3 centered animated wow fadeInUp" data-wow-delay=".3s">
            <img class="img img-circle" src="assets/img/patient/patient03.jpg" height="120px" width="120px" alt="">
            <br>
            <h4><b>Ayse Abla</b></h4>
            <p>Curabitur mollis tincidunt fermentum. Proin vitae turpis a odio commodo porttitor. Pellentesque fringilla magna arcu, nec volutpat augue eleifend ac. Aenean et velit dui. Aenean vitae molestie augue. Nulla mattis enim non nisi volutpat, vel rhoncus felis tempus.</p>
        </div><!-- col-lg-3 -->
        
        <div class="col-lg-3 centered animated wow fadeInUp" data-wow-delay=".4s">
            <img class="img img-circle" src="assets/img/patient/patient04.jpg" height="120px" width="120px" alt="">
            <br>
            <h4><b>Suleyman Kardes</b></h4>
            <p>Proin bibendum, sapien ac varius sollicitudin, nisi ipsum lacinia nisl, vehicula fringilla magna tortor vel quam. Praesent mi sem, fringilla eu arcu nec, venenatis iaculis neque. Curabitur et enim gravida, condimentum nibh at, pellentesque metus.</p>
        </div><!-- col-lg-3 -->
    </div><!-- row -->
</div><!-- container -->